.sidebarChat {
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
    max-height: 46px;
    overflow: hidden;
}

.sidebarChat > h4 {
    margin: auto;
}

a {
    text-decoration: none !important;
    color: black;
}

.sidebarChat:hover {
    background-color: #ebebeb;
}

.sidebarChat__info > h2 {
    font-size: 16px;
    margin-bottom: 2px;
}

.sidebarChat__info {
    margin-left: 15px;
}
