.welcome {
    flex: 0.65;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    justify-content: center;
}
  
.welcome__body {
    display: flex;
    flex-direction: column;    
    align-items: center;
    overflow: hidden;
}

.welcome__text {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    max-width: 40vw;
    text-align: center;
}

.welcome__text > p {
    margin-top: 20px;
    font-weight: 500;
    color: rgb(94, 94, 94);
}


